h3 {
    margin-top: 30px;
}
table {
    max-width: 800px;
    margin: 20px auto;
}

.pagPages {
   display: flex;
   justify-content: center;
}

.actions {
    display: flex;
}

.formfilter {
    text-align: center;

    form {
        max-width: 200px;
        margin:20px auto;
    }
}

@media(max-width:560px){
    .pagPages{
        margin: unset;
    }
}